In [1]:
import os, re
import pandas as pd
import datetime
import nltk
import numpy as np
import gensim
from stop_words import get_stop_words
from nltk.tokenize import PunktSentenceTokenizer
from gensim.models import CoherenceModel
from gensim.utils import simple_preprocess
from gensim.models import TfidfModel
from wordcloud import WordCloud
from gensim import corpora, models, similarities 
from gensim.parsing.preprocessing import remove_stopwords
import spacy
import itertools
import warnings
warnings.filterwarnings("ignore")
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")
from datetime import datetime
import matplotlib
import matplotlib.pyplot as plt
plt.rcParams["font.family"] = "Times New Roman"
%matplotlib inline
matplotlib.use('agg')
import itertools
import pickle
import pyLDAvis
import pyLDAvis.gensim 
pyLDAvis.enable_notebook()

In [61]:
dictionary2 = gensim.corpora.Dictionary.load('dictionary_tri.dict')

In [14]:
keyls =[]
vls = []
for key, value in dictionary.token2id.items():
    keyls.append(key)
    vls.append(value)

In [15]:
emp = pd.DataFrame()
emp['v'] = keyls
emp['key'] = vls

In [18]:
list(range(0,100,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [62]:
import operator
#x = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
sorted_x = sorted(dictionary2.token2id.items(), key=operator.itemgetter(0), reverse = False)
print(type(dictionary2.token2id))
#sorted_x

<class 'dict'>

In [26]:
#sorted_x

In [63]:
dictionary2.save_as_text('a.txt')

In [64]:
dft = pd.read_table('a.txt')

In [65]:
dft = dft.reset_index()

In [67]:
dft.columns

Index(['level_0', 'level_1', '3319'], dtype='object')

In [68]:
dft.sort_values('3319', ascending= False)

      level_0                         level_1  3319
3917      106                           innov  1481
5852       26                         product  1393
8288       38                            work  1313
4617       23                           manag  1223
7292      805                         support  1132
7344      165                          system  1130
5846      141                         process  1123
7570      263                            time  1119
6772       35                          servic  1048
5413      712                         partner  1033
7408      389                            team  1011
3545      101                            help  1000
8303      177                           world   993
5287      334                            oper   961
645       489                            base   958
127       182                           addit   912
1145       60                             ceo   903
33          0                          access   894
3827      320                          includ   891
2167      207                           digit   886
5726      451                           power   860
8166      174                             way   836
7262      388                         success   833
7953      267                            user   827
4304     1242                            lead   826
1726      298                           creat   819
1603      292                         continu   806
2104      833                          design   798
5072      232                         network   790
7603      264                           today   787
...       ...                             ...   ...
4774     3825                          merril     5
4916     5183                            mone     5
4920     6408                 monetari_author     5
5080     3348                   never_greater     5
5017     4626                         myanmar     5
5077     8012                      neuromorph     5
5076     7403                        neurolog     5
5068     6423                            nest     5
5063     3273                   neighbourhood     5
5061     7260                    neighborhood     5
5052      123                    need_greater     5
5050     7033                      need_adapt     5
5048     7307                            neck     5
5032     7813                   nativ_languag     5
5026     5686                          nathan     5
5018     7027                          myriad     5
5016     7736                             mwc     5
4921     6409                 monetari_polici     5
5014      332                     mutual_fund     5
5006     7930                        multisit     5
5003     7111                  multiplay_game     5
4998     3783                  multipl_factor     5
4986     4959                multicurr_wallet     5
4978     3631                      much_money     5
4977     1684                       much_less     5
4964     3494                           mover     5
4959     7565                       move_fast     5
4935     6919                    month_instal     5
4926     2991  money_launder_terrorist_financ     5
4192     2572                            khan     5

[8385 rows x 3 columns]

In [60]:
dft[dft['level_1']=='big_data']

      level_0   level_1  5591
1013      513  big_data  1095